<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>central</id>
            <username>${SERVER_MAVEN_REPO_USER}</username>
            <password>${SERVER_MAVEN_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>${SERVER_MAVEN_REPO_USER}</username>
            <password>${SERVER_MAVEN_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>releases</id>
            <username>${SERVER_MAVEN_REPO_USER}</username>
            <password>${SERVER_MAVEN_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>website</id>
            <username>${SERVER_WEBSITE_USER}</username>
            <password>${SERVER_WEBSITE_PASSWORD}</password>
        </server>
        <server>
            <id>mavenrepo</id>
            <username>${SERVER_MAVEN_REPO_USER}</username>
            <password>${SERVER_MAVEN_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>sonatype-nexus-snapshots</id>
            <username>${SERVER_SONATYPE_NEXUS_SNAPSHOTS_USER}</username>
            <password>${SERVER_SONATYPE_NEXUS_SNAPSHOTS_PASSWORD}</password>
        </server>
        <server>
            <id>sonatype-nexus-staging</id>
            <username>${SERVER_SONATYPE_NEXUS_STAGING_USER}</username>
            <password>${SERVER_SONATYPE_NEXUS_STAGING_PASSWORD}</password>
        </server>
        <server>
            <id>${SERVER_SCM_ID}</id>
            <username>${SERVER_SCM_USER}</username>
            <password>${SERVER_SCM_PASSWORD}</password>
        </server>
        <server>
            <id>buildrepo</id>
            <username>${SERVER_BUILD_REPO_USER}</username>
            <password>${SERVER_BUILD_REPO_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>repo.jenkins-ci.org</id>
            <url>http://repo.jenkins-ci.org/public/</url>
            <mirrorOf>m.g.o-public</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>maven</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>${ARTIFACTORY_REPO_URL}</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>releases</id>
                    <url>${ARTIFACTORY_REPO_URL}</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <url>${ARTIFACTORY_REPO_URL}</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>${ARTIFACTORY_REPO_URL}</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                 <pluginRepository>
                    <id>releases</id>
                    <url>${ARTIFACTORY_REPO_URL}</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <url>${ARTIFACTORY_REPO_URL}</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
          <activeProfiles>
            <!--make the profile active all the time -->
            <activeProfile>maven</activeProfile>
          </activeProfiles>
    </profiles>
</settings>
